<mat-card class="store-card">
  <mat-card-header>
    <mat-card-title>{{ store.name }}</mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="!isExpired(); else expired">{{ store.start | date: 'dd/MM/yy HH:mm' }} - {{ store.end | date: 'HH:mm' }}</span>
    </mat-card-subtitle>
    <ng-template #expired>
      <mat-card-subtitle>{{ store.end | expiredSince }}</mat-card-subtitle>
    </ng-template>
  </mat-card-header>

  <mat-card-content>
    <span>{{ store.description }}</span>
  </mat-card-content>

  <mat-card-actions align="end">
    <span>{{ store.capacity }} panier(s)</span>
    <span class="fx-spacer"></span>
    <button mat-icon-button (click)="toggle()">
      <mat-icon>{{ isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
